<!--
  Generated template for the DataSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item>
    <ion-label>
      <h2>Showing data since:</h2>
      <p>defaults to 1 month ago</p>
    </ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" placeholder="Select Date"
                  (ngModelChange)="filterData($event, 'early')" [max]="today"
                  [(ngModel)]="earliestDateFilter"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Showing data until:</h2>
      <p>defaults to today</p>
    </ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" placeholder="Select Date"
                  [min]="earliestDateFilter" (ngModelChange)="filterData($event, 'late')"
                  [max]="today" [(ngModel)]="latestDateFilter"></ion-datetime>
  </ion-item>

  <ion-card *ngFor="let dataType of dataTypes">
    <ion-card-header (click)="expanded[dataType] = !expanded[dataType]">
      <span class="headerItem dataTypeHeader">{{dataType}}s</span>
      <ion-icon class="headerIcon" item-right *ngIf="expanded[dataType]" name="arrow-dropup"></ion-icon>
      <ion-icon class="headerIcon" item-right *ngIf="!expanded[dataType]" name="arrow-dropdown"></ion-icon>
      </ion-card-header>
    <ion-card-content *ngIf="expanded[dataType]">
      <div class="trackedItem" *ngFor="let data of currentlyTracking[dataType]">
        <div class="dataName">
          {{data.name}}
        </div>

        <div class="dataReport" *ngIf="filteredDataByID[data.id]['timesReported'] === 0" text-wrap>
          Not reported
        </div>

        <div class="dataReport"  *ngIf="filteredDataByID[data.id]['timesSaidTrue']">
          True: {{filteredDataByID[data.id]['timesSaidTrue']}} times
        </div>

        <div class="dataReport"  *ngIf="filteredDataByID[data.id]['totalReported']">
          Total: {{filteredDataByID[data.id]['totalReported']}}
        </div>

        <div class="dataReport" *ngIf="filteredDataByID[data.id]['average']">
          Average: {{filteredDataByID[data.id]['average']}}
        </div>

        <div class="dataReport" *ngIf="filteredDataByID[data.id]['counts'] && filteredDataByID[data.id]['counts']['keys'].length > 0">
          <div>Total Responses:</div>
          <div class="catResponses" *ngFor="let key of filteredDataByID[data.id]['counts']['keys']">
            {{key}}: {{filteredDataByID[data.id]['counts'][key]}}
          </div>
        </div>

        <div class="timesReported"  *ngIf="filteredDataByID[data.id]['timesReported'] > 0" text-wrap>
          Reported {{filteredDataByID[data.id]['timesReported']}} times total
        </div>

        <div class="dataGoal" text-wrap *ngIf="filteredDataByID[data.id]['goal'] &&
                                                               filteredDataByID[data.id]['goal'].freq">
          Goal: <span text-lowercase>{{filteredDataByID[data.id]['goal'].freq}}
          than {{filteredDataByID[data.id]['goal'].threshold}}
          per {{filteredDataByID[data.id]['goal'].timespan}}</span>
        </div>

        </div>
    </ion-card-content>
  </ion-card>

</ion-content>
