<!--
  See https://github.com/donothingloop/ng2-charts-x for the chart format stuff
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Visualizations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ng-container *ngFor="let chartType of allCurrentCharts">

    <ion-card *ngIf="chartType['charts'].length > 0">
      <ion-card-header class="chartTypeName" text-wrap>
        {{chartType['title']}}
      </ion-card-header>
      <ion-card-content>
        <div class="goalList">
          For your goals:
          <p *ngFor="let goal of chartType['goals']">{{goal}}</p>
        </div>

        <div *ngFor="let chart of chartType['charts']">
          <div class="chartTitle">{{chart.title}}</div>
          <div class="chartDiv">
            <canvas baseChart
                    [datasets]="chart.data"
                    [labels]="chart.labels"
                    [options]="chart.options"
                    [legend]="chart.legend"
                    [chartType]="chart.type"
                    [colors]="chartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
