
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Calendar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="monthDiv">
    <div class="iconDiv" (click)="changeMonth('subtract')">
      <ion-icon class="navIcon" color="primary" item-left name="md-arrow-dropleft"></ion-icon>
    </div>
    <span class="monthLabel">{{currentMonth}}</span>
    <div class="iconDiv" (click)="changeMonth('add')">
      <ion-icon class="navIcon" [color]="isMaxMonth? 'mutedPrimary' : 'primary'" item-right name="md-arrow-dropright"></ion-icon>
    </div>

  </div>



  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div class="calendar-event-inner" [ngClass]="getClass(view.dates[row*7+col])">
      {{view.dates[row*7+col].label}}
    </div>
  </ng-template>


  <ng-template #template2 let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">



    <ion-list class="event-detail-container list">
      <ion-item class="item item-block" *ngFor="let event of selectedDate.events" (click)="seeDataDetails(event)">
        <!--<ion-label>-->
          <span class="monthview-eventdetail-timecolumn">Data Tracked</span>
          <span class="event-detail">  |  {{event?.title}}</span>
          <ion-icon item-right color="primary" name="information-circle-outline"></ion-icon>
        <!--</ion-label>-->

      </ion-item>

      <ion-item *ngIf="selectedDate.events.length === 0" (click)="seeDataDetails(null)">
        <!--<ion-label>-->
          <span class="no-events-label">{{noEventsLabel}}</span>
          <ion-icon item-right color="primary" name="add-circle-outline"></ion-icon>
        <!--</ion-label>-->
      </ion-item>

    </ion-list>

  </ng-template>



  <calendar [eventSource]="eventSource"
            [currentDate]="calendar.currentDate"
            [noEventsLabel] = "noEventsLabel"
            [allDayLabel] = "allDayLabel"
            [lockSwipes]="lockSwipes"
            [monthviewDisplayEventTemplate]="template"
            [monthviewEventDetailTemplate]="template2"
            [formatDayHeader]="'EEEEE'"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            step="30">
  </calendar>

  <!---->

</ion-content>
