<!--
  Generated template for the AddCustomDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Custom Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>Add Custom {{dataType}} to Track:</h3>

  <ion-card>
    <ion-card-content>
      <ion-item-divider>{{dataType}} Name</ion-item-divider>
      <ion-item>
        <ion-input type="text" [(ngModel)]="dataName" placeholder="{{dataType}} Name"></ion-input>
      </ion-item>
      <ion-item-divider>{{dataType}} Field</ion-item-divider>
      <ion-item>
        <ion-label>Select field:</ion-label>
        <ion-select [(ngModel)]="dataField">
          <ion-option *ngFor="let field of fieldList" [value]="field['name']"><p>{{field['name']}}:</p>
            <p>{{field['explanation']}}</p></ion-option>
        </ion-select>
      </ion-item>


      <ng-container *ngIf="dataField === 'binary' || dataField === 'number'">
        <ion-item-divider >Goal/Limit (Optional)</ion-item-divider>
        <ion-item>
          <ion-label>More or less</ion-label>
          <ion-select [(ngModel)]="goalFreq">
            <ion-option [value]="More">More</ion-option>
            <ion-option [value]="Less">Less</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>than</ion-label>
          <ion-input type="number" text-right placeholder="---" [(ngModel)]="goalThresh"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>per</ion-label>
          <ion-select [(ngModel)]="goalTime">
            <ion-option *ngIf="dataField !== 'binary'" [value]="Day">Day</ion-option>
            <ion-option [value]="Week">Week</ion-option>
            <ion-option [value]="Month">Month</ion-option>
          </ion-select>
        </ion-item>

      </ng-container>
    </ion-card-content>
  </ion-card>

  <button float-left ion-button (click)="backToConfig('cancel')">
    Cancel
  </button>

  <button float-right ion-button (click)="backToConfig('add')">
    Add {{dataType}}
  </button>

</ion-content>
