page-goal-type {

  .effort{
    font-style: italic;
  }

  .subgoalList{
    background-color: #3B3B3B !important;
    padding-top:0.2em;
    padding-left:1em;
  }

  .goalIcon{
    padding-left:0.25em;
  }


  .goalCardContent{
    padding-left:1em;
  }




}
