<!--
  Generated template for the TrackingModificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tracking Routine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let dataType of allDataTypes">
    <ion-card-header text-wrap>
      Current {{displayNames[dataType]}}
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let data of currentData[dataType]">
        <ion-item-sliding>
          <ion-item (click)="editData(data, dataType)">
            <ion-label>{{data.name}}</ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option icon-only color="primary" (click)="editData(data, dataType)">
              <ion-icon class="adjust"  slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" icon-only (click)="removeData(data, dataType)">
              <ion-icon class="adjust" slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <button class="button" ion-button full icon-start (click)="addData(dataType)">
        <ion-icon name="add-circle"></ion-icon>
        Add {{displayNames[dataType]}}
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-wrap>
      Current Frequency
    </ion-card-header>
    <ion-card-content *ngIf="trackingFreq === 'postSymptoms'">
      You are currently tracking after symptoms occur.
    </ion-card-content>
    <ion-card-content *ngIf="trackingFreq === 'regularly' && notifications === undefined">
      You are currently tracking regularly, but you do not have any notifications configured.
    </ion-card-content>
    <ion-card-content *ngIf="notifications !== undefined">
      You are currently tracking <span text-lowercase>{{notifications.timescale}}</span>,
      at {{timeToDisplay}}<span
      text-lowercase *ngIf="notifications.dayOfWeek !== undefined"> on
        {{notifications.dayOfWeek.slice(0, notifications.dayOfWeek.length-1).join('s, ')}}<span
        *ngIf="notifications.dayOfWeek.length > 1">s</span><span
          *ngIf="notifications.dayOfWeek.length > 2">,</span><span
        *ngIf="notifications.dayOfWeek.length > 1"> and</span>
        {{notifications.dayOfWeek[notifications.dayOfWeek.length-1]}}s</span><span
      text-lowercase *ngIf="notifications.dayOfMonth !== undefined"> on the
        {{notifications.dayOfMonth.slice(0, notifications.dayOfMonth.length-1).join(', ')}}<span
          *ngIf="notifications.dayOfMonth.length > 2">,</span> <span
        *ngIf="notifications.dayOfMonth.length > 1">and</span>
        {{notifications.dayOfMonth[notifications.dayOfMonth.length-1]}} day<span
          *ngIf="notifications.dayOfMonth.length > 1">s</span> of the month</span>.
    </ion-card-content>
    <button class="button" ion-button full icon-start (click)="changeFreq()">
      <ion-icon name="create"></ion-icon>
      Change tracking frequency
    </button>
  </ion-card>

  <!--<ion-card>-->
    <!--<ion-card-header text-wrap>-->
      <!--Post-Symptoms Notifications-->
    <!--</ion-card-header>-->
    <!--<ion-card-content *ngIf="postSymptomNotifications">-->
      <!--You're currently receiving notifications the day after you indicate you have a migraine.-->
      <!--<button ion-button>Turn off post-symptom notifications</button>-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->

</ion-content>
