// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

:root {
  /* Set the background of the entire app */
  --ion-background-color: #4a4a4a;

  --placeholder-color: white;

  --ion-text-color: #FFFFFF;

  --input-config-background: #bdbdbd;
  --input-config-text: black;
  --input-placeholder-text:  #3B3B3B;

  --blue-accent: #4A90E2;
  --lighter-grey: #979797;
  --sublist-color: #3B3B3B;

}




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #4A90E2,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  base:       #4a4a4a,
  midgrey:       #979797,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.


// see https://ionicframework.com/docs/v3/theming/overriding-ionic-variables/ to set!
@import "ionic.theme.dark";
$background-color: #4a4a4a;
$card-ios-background-color: #4a4a4a;
$action-sheet-md-title-color: #4a4a4a;
$card-md-background-color: #4a4a4a;
$card-wp-background-color: #4a4a4a;
$list-background-color: #3B3B3B;
$text-color:        #FFFFFF;
$card-ios-text-color: #FFFFFF;
$card-md-text-color: #FFFFFF;
$card-wp-text-color: #FFFFFF;
$card-ios-title-text-color: #FFFFFF;
$card-md-title-text-color: #FFFFFF;
$card-wp-title-text-color: #FFFFFF;
//$button-ios-background-color: #4a4a4a;
//$button-md-background-color: #4a4a4a;
//$button-wp-background-color: #4a4a4a;
//$font-size-base: 24px;
$card-ios-header-font-size: 2rem;
$card-ios-font-size: 1.5rem;
$h3-font-size: 2rem;
$h2-font-size:2rem;


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
