page-track-data {

  .dataInfo{
    padding-bottom: 2em;
  }

  .dataExamples{
    color: var(--lighter-grey);
    font-size: 1.5rem;
    max-height: 1.5em;
    text-transform: lowercase;
    overflow: hidden;
    text-overflow: ellipsis !important;
    max-width: 85%;
  }

  .dataName{
    font-size: 2.3rem !important;
  }




  .dataExplanation{
    color: var(--lighter-grey);
    font-style: italic;
    font-size: 1.6rem;
  }

  .goalDiv{
    font-style: italic;
    padding-left:0.1em;
    font-size: 1.7rem;
  }

  .trackingHeader{
    font-size: 2.5rem;
  }

  .goalMet{
    color: var(--green-text);
  }

  .overGoal{
    color: var(--red-text)
  }

  .goalOK{
    color: var(--blue-accent)
  }


}
