<!--
  Generated template for the TrackDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Track {{dataType}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 text-center>{{trackDate}}</h1>

  <ion-card>

    <ion-card-header (click)="cardExpanded[dataType] =! cardExpanded[dataType]">
      <span class="headerItem trackingHeader">Track {{dataType}}s</span>
      <ion-icon class="headerIcon" item-right *ngIf="cardExpanded[dataType]" name="arrow-dropup"></ion-icon>
      <ion-icon class="headerIcon" item-right *ngIf="!cardExpanded[dataType]" name="arrow-dropdown"></ion-icon>
      <div class="dataExamples">
        <span class="dataExamples">{{dataList}}</span>
      </div>
    </ion-card-header>


    <ion-card-content *ngIf="cardExpanded[dataType]">

      <div class="dataInfo" *ngFor="let data of dataToTrack">

        <h2 class="dataName">{{data.name}}</h2>

        <data-element-tracking [data]="data" [trackedMedsToday] = trackedMedsToday (valueChanged) = 'changeVals($event, data)'>
        </data-element-tracking>

        <div class="goalDiv" *ngIf="data.goal && data.goal.freq">
          <div>
            Goal: {{data.goal.freq}} than <span text-lowercase>{{data.goal.threshold}}
            per {{data.goal.timespan}}</span>
          </div>
          <div *ngIf="data.goal.timespan!=='Day'">
            Total this <span text-lowercase>{{data.goal.timespan}}</span> (including today):
            {{totalTrackedTimes(data)}}
          </div>
          <div class="goalMet" *ngIf="goalProgress(data) === 'met'">
            You met your goal!
          </div>
          <div class="goalMet" *ngIf="goalProgress(data) === 'below limit'">
            You're under your limit!
          </div>
          <div class="goalOK" *ngIf="goalProgress(data) === 'under'">
            Keep going!
          </div>
          <div class="overGoal" *ngIf="goalProgress(data) === 'over'">
            Try to cut back!
          </div>
          <div class="goalOK" *ngIf="goalProgress(data) === 'at limit'">
            You're at your limit!
          </div>
        </div>

      </div>
    </ion-card-content>
  </ion-card>

  <button float-right ion-button (click)="continueTracking()">
    <ng-container *ngIf="!somethingTracked">Skip Tracking {{dataType}}</ng-container>
    <ng-container *ngIf="somethingTracked">Continue</ng-container>
  </button>

</ion-content>
