page-edit-data {


  .modal{
    font-size: 1.9rem !important;
    color:var(--ion-text-color) !important;
    padding-bottom:1em;

  }

  .optionHeader{
    font-size: 2rem !important;
  }

  .dropdownIcon{
    float:right;
    padding-left:0.2em;
    padding-top:0.1em;
    padding-bottom:0.1em;
  }


  .optionName{
    padding-top:0.1em;
    padding-bottom:0.1em;
    display: inline-block;
  }

  .optionDetails{
    font-size: 1.35rem !important;
    color: var(--input-config-text) !important;
  }

  .selectOption{
    padding:0.5em !important;
  }

  .recommended{
    font-style: italic;
    color: var(--blue-accent);
  }

  .goalSelects{
    display: flex;
    width: 101% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .fullSelect{
    max-width: 100% !important;
    background-color: var(--input-config-background) !important;
    color:black !important;
  }

  .goalText{
    font-size:1.6rem;
    padding-left:0.3em;
    padding-right:0.3em;
  }

  .miniSelect{
    height: 1.8em;
    width: 4.6em !important;
    padding-right: 0.25em !important;
    padding-left: 0.25em !important;
    padding-bottom:0.1em !important;
    background-color: var(--input-config-background);
    color:var(--input-config-text);
    font-size:1.8rem !important;
  }

  .text-input{
    padding-top: 0!important;
    padding-right:0.1em !important;
    padding-left:0 !important;
    margin:0 !important;
  }

  .removeGoal{
    padding-left: 0.4em;
    padding-top:0.25em;
    padding-bottom:0.1em;
  }

  .textBox{
    padding-top:0.1em !important;
    padding-bottom:0.1em;
    max-width: 2.2em !important;
    height: 1.8em !important;
    text-align:center;
    background-color: var(--input-config-background);
    color: var(--input-config-text);
    font-size:1.8rem !important;
  }

  .inputText{
    background-color: var(--input-config-background);
    color: var(--input-config-text);
  }

  .listElement{
    padding-bottom:1em !important;
    font-size: 1.9rem !important;
  }




}
