<!--
  Generated template for the EditDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>View/Edit Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>
    {{data.name}} Details:
  </h3>

  <ion-card>
    <ion-card-content>
      <ion-list>

        <ion-item text-wrap>
          <ion-label>
            <ion-text>
              <h2>Name</h2>
              <h3>{{data.name}}<span
                *ngIf="data.explanation">: {{data.explanation}}</span><span
                *ngIf="data.custom">: Custom data you configured</span></h3>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item text-wrap *ngIf="data.recommendingGoal">
          <ion-label>
            <ion-text>
              <h2>Recommended Because of Your Goals:</h2>
              <h3 text-wrap *ngFor="let goal of data.recommendingGoal">{{goal}}</h3>
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-item text-wrap *ngIf="data['significance']">
          <ion-label>
            <ion-text>
              <h2>Significance to Migraine:</h2>
              <h3 text-wrap>{{data['significance']}}</h3>
            </ion-text>
          </ion-label>
        </ion-item>


        <ion-item text-wrap>
          <ion-label>
            <ion-text>
              <h2>
                Field:
                <button *ngIf="!editField && !(data.field && data.field.includes('calculated'))" icon-only color="primary" item-right (click)="editData('field')">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </button>
              </h2>
              <h3 text-wrap *ngIf="!editField">{{data.field}}<span *ngIf="data.fieldDescription">: {{data.fieldDescription}}</span></h3>
            </ion-text>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="editField">
          <ion-select [(ngModel)]="data.field" (ngModelChange)="editedField()">
            <ion-option *ngFor="let field of fieldList"
                        [value]="field['name']"
                        [selected]="data.field === field['name']">
              <p>{{field['name']}}:</p>
              <p>{{field['explanation']}}</p></ion-option>
          </ion-select>
        </ion-item>


        <ng-container *ngIf="allowsGoals &&
                              (data.field !== undefined && data.field === 'binary' || data.field === 'number')">


          <ion-item text-wrap>
            <ion-label>
              <ion-text>
                <h2>
                  Goal/Limit (Optional):
                  <button *ngIf="!editGoal" icon-only item-right (click)="editData('goal')">
                    <ion-icon  slot="icon-only" name="create"></ion-icon>
                  </button>
                </h2>
                <h3 text-wrap *ngIf="data.goal && !editGoal">
                  <span text-lowercase>{{data.goal.freq}} than {{data.goal.threshold}} times per {{data.goal.timespan}}</span>
                </h3>
              </ion-text>
            </ion-label>
          </ion-item>

          <ng-container *ngIf="editGoal">
            <ion-item>
              <ion-label>More or less</ion-label>
              <ion-select [(ngModel)]="data.goal.freq" (ngModelChange)="editedField()">
                <ion-option value="More" [selected]="data.goal && data.goal.freq === 'More'">
                  More
                </ion-option>
                <ion-option value="Less" [selected]="data.goal && data.goal.freq === 'Less'">
                  Less
                </ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>than</ion-label>
              <ion-input type="number" text-right
                         [placeholder]="(data.goal && data.goal.threshold) ? data.goal.threshold : '---'"
                         [(ngModel)]="data.goal.threshold" (ngModelChange)="editedField()"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>times per</ion-label>
              <ion-select [(ngModel)]="data.goal.timespan" (ngModelChange)="editedField()">
                <ion-option *ngIf="data.field !== 'binary'"
                            value="Day" [selected]="data.goal && data.goal.timespan === 'Day'">
                  Day
                </ion-option>
                <ion-option value="Week" [selected]="data.goal && data.goal.timespan === 'Week'">
                  Week
                </ion-option>
                <ion-option value="Month" [selected]="data.goal && data.goal.timespan === 'Month'">
                  Month
                </ion-option>
              </ion-select>
            </ion-item>
          </ng-container>

        </ng-container>

      </ion-list>
    </ion-card-content>
  </ion-card>


  <button float-left ion-button (click)="backToConfig('cancel')">
    Cancel
  </button>

  <button *ngIf="!data.selected || somethingEdited" float-right ion-button (click)="backToConfig('add')">
    <ng-container *ngIf="!data.selected">Add</ng-container>
    <ng-container *ngIf="data.selected">Save</ng-container>
  </button>

  <button *ngIf="data.selected && !somethingEdited" float-right ion-button (click)="backToConfig('remove')">
    Remove
  </button>

</ion-content>
