

<ion-card class="modal">
  <ion-card-header *ngIf="isCustom">Custom {{dataType}} Data</ion-card-header>
  <ion-card-header *ngIf="!isCustom">{{data.name}}</ion-card-header>

  <ion-card-content>


    <div class="listElement" *ngIf="isCustom">
      <h3>Name:</h3>
      <ion-input class="inputText" type="text" [(ngModel)]="data.name" placeholder="Enter name"></ion-input>
    </div>

    <div class="listElement" *ngIf="!isNew">
      <h3>Description:</h3>
      <h2 *ngIf="!isCustom">{{data.explanation}}</h2>
      <h2 *ngIf="isCustom">Custom data you configured</h2>
    </div>

    <div class="listElement" *ngIf="!isCustom && data.recommendingGoals">
      <h3>Recommended based on your goals:</h3>
      <h2 text-wrap *ngFor="let goal of goalList">{{goal}}</h2>
    </div>


    <div class="listElement">
    <h3>How you're tracking:</h3>
      <div class="fullSelect">

        <div class="selectOption">
          <div class="optionHeader" (click)="expandField(data)">
            <div class="optionName">{{data.field}}</div>
            <ion-icon class="dropdownIcon" *ngIf="!fieldButtonsExpanded && !data.fieldSet" name="arrow-dropdown"></ion-icon>
            <ion-icon class="dropdownIcon"  *ngIf="fieldButtonsExpanded && !data.fieldSet" name="arrow-dropup"></ion-icon>
          </div>
          <span *ngIf="fieldButtonsExpanded" class="optionDetails">
            <span *ngIf="!data.recommendedField || data.field!==data.recommendedField">
              {{data['fieldExplanation']}}
            </span>
            <span *ngIf="data.recommendedField && data.field===data.recommendedField">
                  <div class="recommended">(recommended)</div>
              {{data.fieldDescription}}
                </span>
          </span>
        </div>

        <ng-container *ngIf="fieldButtonsExpanded">
          <ng-container *ngFor="let field of fieldList">
            <ng-container *ngIf="(!data.fieldsAllowed) || (data.fieldsAllowed.indexOf(field.name) > -1)">
              <div class="selectOption" *ngIf="field['name'] !== data.field" (click)="editedField(field)">
                <div class="optionHeader">
                  <div class="optionName">{{field['name']}}</div>
                </div>
                <div class="optionDetails">
                  <span *ngIf="!data.recommendedField || field['name']!==data.recommendedField">
                    {{field['explanation']}}
                  </span>
                  <span *ngIf="data.recommendedField && field['name']===data.recommendedField">
                    <div class="recommended">(recommended)</div>
                    {{data.fieldDescription}}
                  </span>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>


    <div class="listElement" *ngIf="allowsGoals &&
                          (data.field !== undefined && data.field === 'binary' || data.field === 'number')">



    <h3>
      Goal/Limit (Optional):
    </h3>

      <div class="selectOption goalSelects">

        <div>
          <div class="miniSelect" (click)="goalFreqExpanded = !goalFreqExpanded;">
            <div class="optionName">{{data.goal.freq}}</div>
            <ion-icon class="dropdownIcon" *ngIf="!goalFreqExpanded" name="arrow-dropdown"></ion-icon>
            <ion-icon class="dropdownIcon" *ngIf="goalFreqExpanded" name="arrow-dropup"></ion-icon>
          </div>
          <ng-container *ngIf="goalFreqExpanded">
            <div class="miniSelect" *ngIf="data.goal.freq!=='More'" (click)="editedGoal('freq', 'More')">
              More
            </div>
            <div class="miniSelect" *ngIf="data.goal.freq!=='Less'" (click)="editedGoal('freq', 'Less')">
              Less
            </div>
          </ng-container>
        </div>

        <div class="goalText">than</div>

        <div>
          <ion-input size="number" type="number" text-right class="textBox"  no-padding no-border
          [placeholder]="(data.goal && data.goal.threshold) ? data.goal.threshold : '---'"
          [(ngModel)]="data.goal.threshold" (ngModelChange)="somethingEdited=true;"></ion-input>
        </div>

        <div class="goalText">per</div>

        <div>
          <div class="miniSelect" (click)="goalTimeExpanded = !goalTimeExpanded;">
            <div class="optionName">{{data.goal.timespan}}</div>
            <ion-icon class="dropdownIcon" *ngIf="!goalTimeExpanded" name="arrow-dropdown"></ion-icon>
            <ion-icon class="dropdownIcon" *ngIf="goalTimeExpanded" name="arrow-dropup"></ion-icon>
          </div>

          <ng-container *ngIf="goalTimeExpanded">
            <div class="miniSelect" *ngIf="data.goal.timespan!=='Day'" (click)="editedGoal('timespan', 'Day')">
              Day
            </div>
            <div class="miniSelect" *ngIf="data.goal.timespan!=='Week'" (click)="editedGoal('timespan', 'Week')">
              Week
            </div>
            <div class="miniSelect" *ngIf="data.goal.timespan!=='Month'" (click)="editedGoal('timespan', 'Month')">
              Month
            </div>
          </ng-container>

        </div>

        <ion-icon class="removeGoal" color="primary" item-right name="close-circle-outline" (click)="editedGoal('remove')"></ion-icon>

      </div>
    </div>



    <button float-left ion-button (click)="backToConfig('cancel')">
      Cancel
    </button>

    <button *ngIf="!data.selected || somethingEdited" float-right ion-button
            [disabled]="!data.name || !data.field || ((data.goal.timespan || data.goal.freq || data.goal.threshold) && !(data.goal.timespan && data.goal.freq && data.goal.threshold) )" (click)="backToConfig('add')">
      <ng-container *ngIf="!data.selected">Add</ng-container>
      <ng-container *ngIf="data.selected">Save</ng-container>
    </button>

    <button *ngIf="data.selected && !somethingEdited" float-right ion-button (click)="backToConfig('remove')">
      Remove
    </button>

  </ion-card-content>

</ion-card>


