<!--
  Generated template for the SymptomConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Add {{displayName}} Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 *ngIf="dataDesc !== undefined">{{dataDesc}}</h3>

  <ng-container *ngIf="dataDesc === undefined">
    <h3>
      Do you want to start tracking any
      <span text-lowercase>{{displayName}}</span>?
    </h3>
  </ng-container>




  <ion-card>
    <ion-card-header>Custom {{displayName}}</ion-card-header>
    <ion-card-content>

      <ion-list *ngFor="let custom of customData[dataType]">
        <ion-item>
          <ion-icon color="primary" item-left name="checkmark-circle" (click)="remove(custom, 'custom')"></ion-icon>
          {{custom.name}}
          <ion-icon color="primary" item-left name="create" (click)="editData(custom, 'custom')"></ion-icon>
        </ion-item>
      </ion-list>

      <h2 class="addCustom">
        <ion-icon item-left (click)="addCustomData()" color="primary" name="add-circle"></ion-icon>
        Add Custom {{displayName}}
      </h2>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="recommendedData.length>0">
    <ion-card-header>Recommended {{displayName}}</ion-card-header>
    <ion-card-content>

      <div *ngIf="recommendedData.length==0">
        Based on your goals, we do not recommend adding any
        <span text-lowercase>{{dataType}}</span> data.
        Unless tracking <span text-lowercase>{{displayName}}</span> will support your personal goals,
            consider continuing without selecting any!
      </div>

      <ion-list *ngFor="let rec of recommendedData">
        <ion-item>
          <ion-icon color="primary" *ngIf="!rec['selected']" name="add-circle-outline" (click)="editData(rec, 'rec')"></ion-icon>
          <ion-icon color="primary" *ngIf="rec['selected']" name="checkmark-circle" (click)="remove(rec, 'rec')"></ion-icon>
          {{rec.name}}
          <ion-icon color="primary" *ngIf="rec['selected']" name="create" (click)="editData(rec, 'rec')"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="otherData.length>0">
    <ion-card-header>
      Other Common {{displayName}}
      <ion-icon item-right *ngIf="commonExpanded" name="arrow-dropup" (click)="commonExpanded = false;"></ion-icon>
      <ion-icon item-right *ngIf="!commonExpanded" name="arrow-dropdown" (click)="commonExpanded = true;"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="commonExpanded" >
      <h3 class="otherExplanation">Tracking the following data is likely unnecessary to fulfill your selected goals.</h3>

      <ion-list *ngFor="let data of otherData">
        <ion-item>
          <ion-icon color="primary" *ngIf="!data['selected']" name="add-circle-outline" (click)="editData(data, 'other')"></ion-icon>
          <ion-icon color="primary" *ngIf="data['selected']" name="checkmark-circle" (click)="remove(data, 'other')"></ion-icon>
          {{data.name}}
          <ion-icon color="primary" *ngIf="data['selected']" name="create" (click)="editData(data, 'other')"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ng-container *ngIf="startDate">
    <ion-card>
      <ion-card-header text-wrap>
        When do you want to start the change?
        <p>Defaults to today!</p>
      </ion-card-header>
      <ion-item>
        <ion-label>Set start date:</ion-label>
        <ion-datetime min="{{today}}" max='{{nextYear}}' displayFormat="MM/DD/YY"
                      [(ngModel)]="startDate"></ion-datetime>
      </ion-item>
    </ion-card>
  </ng-container>


  <button float-right ion-button *ngIf="navParams.data['goalIDs']" (click)="continueSetup()">
    Continue
  </button>






</ion-content>
