<!--
  Generated template for the SymptomConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add {{dataType}} Data to Track</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>{{dataDesc}}</h3>

  <ion-card >
    <ion-card-header>Custom {{dataType}} Data</ion-card-header>
    <ion-card-content>

      <ion-list *ngFor="let custom of customData[dataType]">
        <ion-item-sliding>
          <ion-item class="selectedSlider" (click)="editData(custom, 'custom')">
            <ion-label >{{custom.name}}</ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option icon-only color="primary"  (click)="editData(custom, 'custom')">
              <ion-icon class="adjust" slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <!--<ion-item-option icon-only color="secondary" (click)="editData(custom)">-->
              <!--<ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>-->
            <!--</ion-item-option>-->
            <ion-item-option icon-only color="danger"
                             *ngIf="customData[dataType].indexOf(custom) >= 0"
                             (click)="remove(custom, 'custom')">
              <ion-icon class="adjust" slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <button class="button" ion-button full icon-start (click)="addCustomData()">
        <ion-icon name="add-circle"></ion-icon>
          Add Custom {{dataType}}
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header >Recommended {{dataType}} Data</ion-card-header>
    <ion-card-content>

      <div *ngIf="recommendedData.length==0">
        Based on your goals, we do not recommend tracking <span text-lowercase>{{dataType}}</span> data.
        Unless you know of any specific <span text-lowercase>{{dataType}}</span> you wish to track,
            consider continuing without selecting any!
      </div>

      <ion-list *ngFor="let rec of recommendedData">
        <ion-item-sliding>
          <ion-item [ngClass]="rec.selected ? 'selectedSlider' : 'unselectedSlider'" (click)="editData(rec, 'rec')">
            <ion-label>{{rec.name}}</ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option icon-only color="primary"  (click)="editData(rec, 'rec')">
              <ion-icon class="adjust" slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-item-option>
            <!--<ion-item-option icon-only color="primary"  (click)="editData(rec)">-->
              <!--<ion-icon slot="icon-only" name="create"></ion-icon>-->
            <!--</ion-item-option>-->
            <ion-item-option icon-only color="secondary"
                             *ngIf="selectedFromList.indexOf(rec) < 0"
                             (click)="track(rec)">
              <ion-icon class="adjust" slot="icon-only" name="add-circle"></ion-icon>
            </ion-item-option>
            <ion-item-option icon-only color="danger"
                             *ngIf="selectedFromList.indexOf(rec) >= 0"
                             (click)="remove(rec, 'recommended')">
              <ion-icon class="adjust" slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="otherData.length>0">
    <ion-card-header>Common {{dataType}} Data</ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let data of otherData">
        <ion-item-sliding>
          <ion-item [ngClass]="data.selected ? 'selectedSlider' : 'unselectedSlider'" (click)="editData(data, 'other')">
            <ion-label>{{data.name}}</ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option icon-only color="primary" (click)="editData(data, 'other')">
              <ion-icon class="adjust"  slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-item-option>
            <!--<ion-item-option icon-only color="primary"  (click)="editData(data)">-->
              <!--<ion-icon slot="icon-only" name="create"></ion-icon>-->
            <!--</ion-item-option>-->
            <ion-item-option icon-only color="secondary"
                             *ngIf="selectedFromList.indexOf(data) < 0" (click)="track(data)">
              <ion-icon class="adjust" slot="icon-only" name="add-circle"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" icon-only
                             *ngIf="selectedFromList.indexOf(data) >= 0" (click)="remove(data, 'common')">
              <ion-icon class="adjust" slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ng-container *ngFor="let step of configPath">
      <ion-list padding *ngIf="step.added.length > 0">
        <ion-list-header (click)="toggleDetails(step)">
          <ion-icon color="primary" item-right [name]="step.icon"></ion-icon>
          {{step.description}}
        </ion-list-header>
        <div *ngIf="step.showDetails">
          <ion-item text-wrap *ngFor="let data of step.added">{{data}}</ion-item>
        </div>
      </ion-list>
    </ng-container>
  </ion-card>

  <button float-right ion-button (click)="continueSetup()">
    Continue
  </button>


</ion-content>
