<!--
  Generated template for the GoalTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select Tracking SubGoals</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>{{currentSubgoal['Title']}} </h3>

  <ion-slides pager="true" options="{autoheight: true}">
    <ion-slide *ngFor="let subgoal of currentSubgoal['subgoals']">
      <ion-card class="goalCard">
        <ion-item padding text-wrap>
          {{subgoal['subgoalName']}}
        </ion-item>
        <ion-card-content>
          <ion-item text-wrap [hidden]="!subgoal['goodChoiceIf']">
            <h3>May be a good choice if:</h3>
            <p *ngFor="let choice of subgoal['goodChoiceIf']">{{choice}}</p>
          </ion-item>
          <ion-item text-wrap [hidden]="!subgoal['examples']">
            <h3>Examples:</h3>
            <p *ngFor="let example of subgoal['examples']">"{{example}}"</p>
          </ion-item>
          <ion-item [hidden]="!subgoal['effort']">
            <span *ngIf="subgoal['effort']">Likely requires {{subgoal['effort']}} effort</span>
          </ion-item>
          <div class = "item item-divider bottom">
            <button float-left ion-button icon-only color="{{subgoal.colors.remove}}" (click)="removeGoal(subgoal)">
              <ion-icon name="close"></ion-icon>
            </button>
            <button float-right ion-button icon-only color="{{subgoal.colors.add}}" (click)="addGoal(subgoal)">
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-card>
    <ion-list padding>
      <ng-container *ngFor="let step of configPath">
        <ion-list-header (click)="toggleDetails(step)">
          <ion-icon color="primary" item-right [name]="step.icon"></ion-icon>
          {{step.description}}
        </ion-list-header>
        <div *ngIf="step.showDetails">
          <ion-item text-wrap *ngFor="let data of step.added">{{data}}</ion-item>
        </div>
      </ng-container>

      <ion-list-header>Selected {{goalType}} Subgoals</ion-list-header>
      <div>
        <ion-item text-wrap *ngFor="let subgoal of selectedSubgoals">{{subgoal}}</ion-item>
      </div>
    </ion-list>
  </ion-card>



  <button float-right ion-button [color]="selectedSubgoals.length > 0 ? 'primary': 'light' "
          [disabled]="selectedSubgoals.length === 0" (click)="continueSetup()">
    Continue
  </button>


</ion-content>
