<!--
  Generated template for the ViewDatapointPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tracked Data</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <h2>{{dataDict.date}}
    <button *ngIf="!edit" icon-only item-right (click)="startEditing()">
      <ion-icon  slot="icon-only" name="create"></ion-icon>
    </button>
  </h2>

  <ion-card *ngFor="let dataType of dataTypes">
    <ion-card-header text-wrap>
      {{displayNames[dataType]}} Tracked
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let item of dataDict[dataType]['dataArray']">
        <ion-item>
          <ion-label>
            <p *ngIf="!item.value">{{item.data.name}} (not tracked)</p>
            <h3 *ngIf="item.value && !item.isDuration">{{item.data.name}}: {{item.value}}</h3>
            <h3 *ngIf="item.value && item.isDuration">{{item.data.name}}: {{item.value.start}} - {{item.value.end}}</h3>
          </ion-label>
        </ion-item>


        <data-element-tracking *ngIf="edit && !item.isDuration" [data]="item.data" [dataVal]="item.value"
                               (valueChanged) = 'changeVals($event, dataType, item)'>
        </data-element-tracking>

        <data-element-tracking *ngIf="edit && item.isDuration" [data]="item.data"  [dataStart]="item.value.start"
                               [dataEnd]="item.value.end" (valueChanged) = 'changeVals($event, dataType, item)'>
        </data-element-tracking>

      </ion-list>
    </ion-card-content>
  </ion-card>


  <h4 *ngIf="dataDict['dateChanged'] && dataDict['dateChanged'].length > 0">Data Edited:</h4>
  <p *ngFor="let change of dataDict['dateChanged']">{{dateFunctions.dateToPrettyDate(change)}}</p>

  <button ion-button float-right (click)="closeModal()">Done</button>

</ion-content>
