<!--
  Generated template for the BreakFromTrackingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Take a Break</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header (click)="aboutExpanded = !aboutExpanded;" text-wrap>
      <span class="headerItem">About Tracking Breaks</span>
      <ion-icon class="headerIcon" item-right *ngIf="aboutExpanded" name="arrow-dropup"></ion-icon>
      <ion-icon class="headerIcon" item-right *ngIf="!aboutExpanded" name="arrow-dropdown"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="aboutExpanded">
      When you decide to take a break from tracking, we'll disable notifications.  You can still
      interact with the app.  You can end a break early if you would like.
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="currentBreak">
    <ion-card-header text-wrap>You're currently on a break!</ion-card-header>
    <ion-card-content>
      <h2>Your break started on:</h2>
      <div class="breakConfig">{{currentBreakStarted}}</div>

      <ng-container *ngIf="currentBreak.reasonForBreak">
        <h2>Your reason for the break:</h2>
        <div class="breakConfig">{{currentBreak.reasonForBreak}}</div>
      </ng-container>

      <div class="datePickDiv">
        <h2 *ngIf="currentBreak.notifyDate">Your break is ending on:</h2>
        <h2 *ngIf="!currentBreak.notifyDate">Your break does not have a scheduled end.  Schedule one now:</h2>
        <ion-item>
          <ion-datetime [min]="today" [max]="nextYear" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" placeholder="Select Date"
                        [(ngModel)]="dateToSnoozeTo"  (ngModelChange)="breakChanged=true"></ion-datetime>
        </ion-item>
      </div>

      <div class="datePickDiv" *ngIf="currentBreak.checkInDate">
        <h2>We're planning to check in on the following date:</h2>
        <ion-item>
          <ion-datetime [min]="today" [max]="nextYear"  displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" placeholder="Select Date"
                        [(ngModel)]="dateToCheckIn"  (ngModelChange)="breakChanged=true"></ion-datetime>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="!currentBreak">
    <ion-card-header text-wrap>Do you to schedule a date to return to tracking?</ion-card-header>
    <ion-card-content>
      <ion-item (click)="setSelected('No')">
        <ion-icon item-left color="primary" *ngIf="selected !== 'No'" name="radio-button-off"></ion-icon>
        <ion-icon item-left color="primary" *ngIf="selected === 'No'" name="checkmark-circle"></ion-icon>
        <span>No</span>
      </ion-item>

      <ion-item (click)="setSelected('Yes')">
        <ion-icon item-left color="primary" *ngIf="selected !== 'Yes'" name="radio-button-off"></ion-icon>
        <ion-icon item-left color="primary" *ngIf="selected === 'Yes'" name="checkmark-circle"></ion-icon>
        <span>Yes</span>
      </ion-item>
      <div class="subitem" *ngIf="selected=='Yes'">
        When do you want your break to end?
        <ion-item class="datePickerItem">
          <ion-datetime class="datePicker" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" placeholder="Select Date"
                        [min]="today" [max]="nextYear"  [(ngModel)]="dateToSnoozeTo"></ion-datetime>
        </ion-item>
      </div>


      <ion-item (click)="setSelected('Unsure')" text-wrap>
        <ion-icon item-left color="primary" *ngIf="selected !== 'Unsure'" name="radio-button-off"></ion-icon>
        <ion-icon item-left color="primary" *ngIf="selected === 'Unsure'" name="checkmark-circle"></ion-icon>
        <span>Unsure</span>
      </ion-item>
      <div class="subitem" *ngIf="selected=='Unsure'">
        We'll check in on:
        <ion-item class="datePickerItem">
          <ion-datetime class="datePicker" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" placeholder="Select Date"
                        [min]="today" [max]="nextYear"  [(ngModel)]="dateToCheckIn"></ion-datetime>
        </ion-item>
      </div>

    </ion-card-content>
  </ion-card>


  <ng-container *ngIf="currentBreak">
    <button float-left ion-button (click)="endBreak()">
      End break now
    </button>

    <button float-right ion-button (click)="updateBreak()" [disabled]="!breakChanged">
      Update break
    </button>
  </ng-container>


  <ng-container *ngIf="!currentBreak">
    <ion-card text-wrap>
      <ion-card-header  text-wrap>Why are you taking a break? (Optional)</ion-card-header>
      <ion-card-content>
        Record here if you want to remind yourself or share with a doctor later.
        <ion-textarea [(ngModel)]="reasonForBreak" rows="4"
                      placeholder="I'm taking a break because ... "></ion-textarea>
      </ion-card-content>
    </ion-card>
    <button float-right ion-button (click)="takeBrake()"
            [disabled]="((selected!=='Yes' || !dateToSnoozeTo) && selected!=='No' && selected!=='Unsure')">
      Start Break
    </button>
  </ng-container>

</ion-content>
