page-break-from-tracking {

  //.aboutDrowpdown{
  //  float:right;
  //  padding-left:0.2em;
  //  padding-top:0.1em;
  //  padding-bottom:0.1em;
  //}

  .breakConfig{
    background-color: var(--sublist-color);
    padding-top:0.45em;
    padding-bottom:0.45em;
    padding-left:2em;
    margin-bottom:0.75em;
    font-size: 1.8rem;
  }

  .datePickDiv{
    padding-bottom:0.75em;
  }

  //.aboutHeader{
  //  padding-top:0.1em;
  //  padding-bottom:0.1em;
  //}

  .subitem{
    background-color: var(--sublist-color);
    padding-left:3.75em;
    padding-right:3.75em;
  }

  .datePicker{
    margin-left:0 !important;
    padding-left:0 !important;


  }

  .datePickerItem{
    margin-left:0 !important;
    padding-left:0 !important;


  }
}
